* {
    padding: 0;
    margin: 0;
}

canvas {
    position: absolute;
}

#stage {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#stage, canvas {
    width: 640px;
    height: 320px;
}

#buttonContainer {
    width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#backgroundCanvas {
    z-index: 0;
}

#gameCanvas {
    z-index: 1;
}

#debugCanvas {
    z-index: 2;
}

#interactionCanvas {
    z-index: 3;
}